<html>
  <head>
    <meta name="WebControl" content="width=device-width, initial-scale=1">
    <title>WebControl Demonstration</title>
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
  </head>
  <body style="background-color: #333333">
    <h1 align="center" style="color: darkgray; text-shadow:0 0 15px black">WebControl Demonstration</h1>
    <img style="border:1px solid #1DB954; box-shadow:0 0 15px black; border-radius: 5px" src="{{ url_for('video_feed') }}" class="center">
  </body>
</html>
